<script src="/admin/user/add.js"></script>

<div id="${pageFileDir}_add_dg" style="width: 650px; height: 467px;" class="easyui-dialog" closed="true">
    <div class="shareted-dialog" style="display:none;">
        <form id="${pageFileDir}_add_frm" class="easyui-form">
            <table class="table table-bordered control">
                <!--<tr>
                    <td>用户名</td>
                    <td>
                        <input id="${pageFileDir}_add_ipt_user_name" style="width: 250px;"/>
                    </td>
                    <td></td>
                    <td>
                        <input id="${pageFileDir}_add_ipt_is_active" type="checkbox"/>
                        <label for="${pageFileDir}_add_ipt_is_active" style="cursor: pointer">启用</label>
                    </td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td colspan="3">
                        <input id="${pageFileDir}_add_ipt_memo" style="width: 400px; height: 200px;"/>
                    </td>
                </tr>-->
            </table>
        </form>
    </div>
</div>